@media screen and (max-width:480px){
  .index {
    background-image: url("image/itajiki.jpg");
    background-attachment: fixed;
  }
}

@media screen and (min-width:781px){
  .index {
    background-image: url("image/itajiki.jpg");
    background-attachment: fixed;
    width: 100%;
  }
}